@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Chrome, Safari, Edge, Opera */
.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.amount[type=number] {
  -moz-appearance: textfield;
}

.moneyWrapper {
    background: var(--color-surface-primary);
    outline: .1rem solid var(--color-graphic-elements);
    width: 27rem;
    padding: 1.6rem;
    border-radius: .8rem;
    
    display: flex;    
    align-items: center;

    
}
.moneyWrapper:hover,
.moneyWrapper:has(:focus) {
    
    outline: .25rem solid var(--color-highlight);
    
}
.amount {
    border: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    
    color: var(--color-text-primary);
    width: 50%;
    

}

.amount:focus {
    outline: 0;
}



.currencyConverterSpan {
    
    color: var(--color-graphic-elements);
    
    
}






.selectCoin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;    
    color: black;  
    
    filter: drop-shadow(0px 4px 15px rgba(15, 23, 42, .15));
    
}

.selectCoin::before{
    content: "";
    height: 2.4;
    width: 5.5;
    background-color: #000;
}



.selectCoin div {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    
    
}

.selectCoin:hover {
    background: var(--color-surface-secondary);
    border-radius: 0 .8rem .8rem 0;
    filter: none;
}

.fi.fis {
    font-size: 2.4rem;
}

.currencySign {
    margin: 0px 5px 0px 10px;
    font-size: .8rem;
    font-weight: 400;
    color: var(--color-text-primary);
}

.selectCoin div::-webkit-scrollbar{
    display: none;
}



.selectCoin div:nth-child(4) {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    filter: drop-shadow(0px 0px 0px rgba(15, 23, 42, .1));
    transition: .5s;
}

.selectCoin div:nth-child(4) div :hover{
    
    background: var(--color-surface-secondary);
    
}




.currencySelection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    outline: none;
}



.currencySelection:focus{
    outline: none;
}

.currencySelection img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}



.currencySelection span{
    font-size: 2.4rem;
    
    border-radius: 50%;

}
.currencySelection .label{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-text-primary);
}




@media (max-width: 48rem) {
    .moneyWrapper{
        width:  100%;
    }

    .currencySelection .label{
        font-size: 1.3rem;

    }

    .amount{
        width: 70%;
    }
    .selectCoin{
        width: 30%;
    }
}

