@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  font-family: "Inter";
}
:root {
      /* colors */
    --color-highlight: #7C3AED;
    --color-text-primary: #0F172A;
    --color-text-secondary: #334155;
    --color-surface-primary: #FFFFFF;
    --color-surface-secondary: #EDE9FE;
    --color-graphic-elements: #94A3B8;
    --chartGradient: linear-gradient(180deg, rgba(124, 58, 237, 0.5) 21.15%, rgba(124, 58, 237, 0) 100%);
    --color-bg-color: #F8FAFC;


    


    
    
    
    
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
    background-color: var(--color-bg-color);
   
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}



@media (prefers-color-scheme: dark) {
  html {
    
  }
}
