@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main {

  padding: 6.4rem 8.0rem;
  background: var(--color-surface-primary);
  box-shadow: .0rem .4rem 3.2rem rgba(15, 23, 42, 0.15);
  border-radius: 1.6rem;

  display: grid;
  gap: 6.4rem;

}

.conversor h2 {
  font-size: 2.0rem;
  line-height: 2.4rem;
}
.cambio h2 {
  font-size: 2.0rem;
  line-height: 2.4rem;
}


.conversor .wrapper {
  margin: 1.6rem 0 0 0 ;
  display: flex;
  text-align: center;
  gap: 1.6rem;  

}


.cambio .wrapper {
  margin-top: 2.4rem;

  
}

.chart > div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.switchArrows {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.chartControls {
  display: flex;
  justify-content: space-between;
  margin: -2.2rem .8rem 0 4rem;
}

.chartControls button {
  background-color: transparent;
  border: 0;

  width: 4rem;
  height: 2.4rem;

  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;

  cursor: pointer;
}

.chartControls button:hover,
.chartControls button:active {
  background-color: var(--color-highlight);
  color: var(--color-surface-primary);
  border-radius: 999pc;
  padding: .4rem .8rem;
}

@media (max-width: 48rem) {
  .main {
    padding:1.6rem;
    gap: 3.2rem
  }

  .main section h2 {
    font-size: 1.6rem;
  }

  .conversor .wrapper {
    flex-direction: column;
    gap: .8rem;
  }

  
}